/*css reset*/
body{color:#222;-webkit-text-size-adjust:none;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl, dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,iframe{margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
body,button,input,select,textarea {font-family:"楷体",Tahoma,Arial,Roboto,”Droid Sans”,”Helvetica Neue”,”Droid Sans Fallback”,”Heiti SC”,sans-self;font-size:62.5%; line-height:1.5;}
ol,ul{list-style:none;}



html,body { 
	width:100%; 
	height:100%; 
	overflow: hidden;
}

.section-container { 
	width: 100%;
	height: 100%;
	overflow: visible;
	transition: transform 1s cubic-bezier(0.86,0,0.03,1);
	-webkit-transition: -webkit-transform 1s cubic-bezier(0.86,0,0.03,1);
}

.section-container .section { 
	position: relative; 
	width: 100%; 
	height: 100%; 
	background-position: center center; 
	background-repeat: no-repeat;
}


.section-container .section-1 { 
	background-color: #5AC1DD
}


.avatar-container {
	margin-top: 8%;
}

.avatar-container .avatar {
	border: 12px solid #56D2E0;
}

@keyframes avatarBorder {
	from {
		border: 8px solid #56D2E0;
	}

	to {
		border: 10px solid #59D2E0;
	}
}


/*.section-1 */
.section-1 .info {
	margin-top: 1%;
}

.section-1 p {
	margin-top: 10px;
}

.name {
	font-size: 60px;
	color: #FAFFF5;
	text-shadow: 1px 2px #2FB9FF, 2px 4px 2px #FFF;
}

.section-1 .mote {
	font-size: 18px;
	color: #B6C7C9;
}

.section-1 .posi {
	font-size: 30px;
	color: #FAFFF5;
	text-shadow: 2px 2px 2px #416DB9;
}

.section-1 .school {
	margin-top: 30px;
	font-size: 24px;
	color: #EFDCC1;
}

.section-1 .greed,
.section-1 .email {
	font-weight: 400;
	font-size: 22px;
	color: #317B88;
}

.section {
	background-color: #5AC1DD;
}

.section-container { 
	width: 100%;
	height: 100%;
	overflow: visible;
	ransition: transform 1s cubic-bezier(0.86,0,0.03,1);
	webkit-transition: -webkit-transform 1s cubic-bezier(0.86,0,0.03,1);
}

.section-container .section { 
	position: relative; 
	width: 100%; 
	height: 100%; 
	background-position: center center; 
	background-repeat: no-repeat;
}


.section-2 .name {
	margin-top: 10%;
}
/*
.section-container .section .title{width:100%;position:absolute;top:10%;color:#fff;font-size:2.4em;text-align:center;}

.section-container .section .title p{ padding:0 4%;opacity:0}

.section-container .section .title.active .tit{ opacity:1;transform:translateY(-25px);-webkit-transform:translateY(-25px);transition:all 2s cubic-bezier(0.86,0,0.8,1);-webkit-transition:all 2s cubic-bezier(0.86,0,0.8,1);}

.section-container .section-1{ background-color:#202020}

.section-wrap .section-2{ background-color:#5cb85c}

.section-wrap .section-3{ background-color:#5bc0de}

.section-wrap .section-4{ background-color:#f0ad4e}

.section-wrap .section-5{ background-color:#d9534f}*/


.put-section-0 { 
	transform:translateY(0);
	-webkit-transform:translateY(0);
	transition: 500ms all ease-in;
	}

.put-section-1 { 
	transform:translateY(-100%);
	-webkit-transform:translateY(-100%);
	transition: 500ms all ease-in;
	}

.put-section-2 { 
	transform:translateY(-200%);
	-webkit-transform:translateY(-200%);
}

.put-section-3 { 
	transform:translateY(-300%);
	-webkit-transform:translateY(-300%);
}

.put-section-4 { 
	transform:translateY(-400%);
	-webkit-transform:translateY(-400%);
}

.section-btn{
	width:80px;
	position:fixed;
	left:2%;
	top:40%;
}

.section-btn li{ 
	width:10px;
	height:10px;
	cursor:pointer;
	border-radius:50%;
	-webkit-border-radius:50%;
	margin:14px 0px; 
	text-align:center; 
	border: 1px solid #FFF;
	font-size: 10px;
	color: #FFF;
	line-height: 10px;
}

.section-btn li span {
	display: inline-block;
	width: 40px;
	padding-left: 14px;
	opacity: 0;
	color: #6FA2AB;
	transition: all 0.2s;
}

.section-btn li.on{ 
	background:#FFF
}

.section-btn li:hover span{
	opacity: 1;
	color: #37FBCD;
}


/*section-2*/
.section-2 {
}

.info {
	margin-top: 8%;
}

.skills-container {
	margin-top: 3%;
}

.section-2 .skill {
	display: inline-block;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	margin: 5px 10px;
	min-width: 50px;
	padding: 2px 10px;
	height: 40px;
	background-color: rgba(0,120,152,1);
	border-radius: 5px;
	color: #F1F1F1;
	cursor: default;
}

.row:nth-child(1) .skill:nth-child(1) { 
	background-color: rgba(0,120,152,1);
}

.row:nth-child(2) .skill:nth-child(1),
.row:nth-child(2) .skill:nth-child(2) { 
	background-color: rgba(0,120,152,0.8);
}

.row:nth-child(2) .skill:nth-child(3),
.row:nth-child(2) .skill:nth-child(4) {
	background-color: rgba(0,120,152,0.5);
}

.row:nth-child(3) .skill:nth-child(1) {
	background-color: rgba(0,120,152,0.9);
}

.row:nth-child(3) .skill:nth-child(2) {
	background-color: rgba(0,120,152,0.7);
}

.row:nth-child(3) .skill:nth-child(3) {
	background-color: rgba(0,120,152,0.5);
}

.row:nth-child(3) .skill:nth-child(4) {
	background-color: rgba(0,120,152,0.6);
}

.row:nth-child(4) .skill:nth-child(1) {
	background-color: rgba(0,120,152,0.2);
}

.row:nth-child(4) .skill:nth-child(2) {
	background-color: rgba(0,120,152,0.7);
}

/*section-3*/
.section-3 {

}

.section-3 .work{
	display: flex;
	flex-direction: row;
	margin-top: 50px;
}

.section-3 .work img{
	width: 85px;
	height: 90px;
}

.work .intro {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}

.intro-title {
	font-size: 28px;
	font-weight: 700;
	color: #666971;
	/*cursor: pointer;*/
	transition: 0.5s all;
}

.intro-title:hover {
	color: #FFF;
	text-decoration: none;
}

.intro-detail {
	font-size: 22px;
	font-weight: 300;
	color: #4A5D90;
	/*max-width: 300px;*/
}

/*section-4*/

.section-4 {
/*	display: none;*/
}

.exper {
	margin-top: 10%;
	display: flex;
	flex-direction: row;
}

.part {
	padding: 0;
	margin: 0;
}

.part img {
	display: block;
	width: 60px;
	height: 70px;
	margin: 20px auto;
}

.do-what {
	text-align: center;	
	max-width: 250px;
	font-size: 22px;
	font-weight: 500;
	color: #9A9A9A;
}

.exper .time {
	text-align: center;
	font-size: 16px;
	margin-top: 13px;
	color:#9A9A9A;
}

.exper .line {
	position: relative;
	margin-top: 10px;
	width: 100%;
	border-top: 4px solid #9A9A9A;
}

.exper .cricle {
	position: absolute;
	margin: 0 auto;
	width: 14px;
	height: 14px;
	background-color: #9A9A9A;
	border-radius: 50%;
	top: -9px;
	left: 50%;
	margin-left: -7px;
}

.part:nth-child(4) .do-what,
 .part:nth-child(4) .time {
	color: #E84040;
}

.exper .part:nth-child(4) .line {
	border-top-color: #E84040;
}

.exper .part:nth-child(4) .line .cricle {
	background-color: #E84040;
}


.part:nth-child(5) .do-what,
.exper .part:nth-child(5) .time {
	color: #FFF;
}

.exper .part:nth-child(5) .line {
	border-top-color: #FFF;
}

.exper .part:nth-child(5) .line .cricle {
	background-color: #FFF;
}

/*section-5*/
.section-5 {
	display: flex;
	flex-direction: column;
}

.section-5 .name {
	margin-top: 13%;
}

.contact {
	margin-top: 20px;
	color: #F3F4F1;
	font-size: 20px;
	font-weight: 100;
}

.contact span {
	padding-left: 4px;
	color: #FFFAE1;
}

.section-5 .download {
	margin: 20px 0;
	font-size: 30px;
	font-weight: 800;
	color: #343434;
}

.download span {
	cursor: pointer;
}

.section-5 img {
	display: inline-block;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	cursor: pointer;
	transition: 0.5s all ease-in;
}

.section-5 img:hover {
	border-radius: 5px;
}