/*css reset*/
body{color:#222;-webkit-text-size-adjust:none;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl, dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,iframe{margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
body,button,input,select,textarea {font-family:"楷体",Tahoma,Arial,Roboto,”Droid Sans”,”Helvetica Neue”,”Droid Sans Fallback”,”Heiti SC”,sans-self;font-size:62.5%; line-height:1.5;}
ol,ul{list-style:none;}



html,body { 
	width:100%; 
	height:100%; 
	overflow: hidden;
}

.section-container { 
	width: 100%;
	height: 100%;
	overflow: visible;
	transition: transform 1s cubic-bezier(0.86,0,0.03,1);
	-webkit-transition: -webkit-transform 1s cubic-bezier(0.86,0,0.03,1);
}

.section-container .section { 
	position: relative; 
	width: 100%; 
	height: 100%; 
	background-position: center center; 
	background-repeat: no-repeat;
}


.section-container .section-1 { 
	background-color: #5AC1DD
}


.avatar-container {
	margin-top: 8%;
}

.avatar-container .avatar {
	border: 12px solid #56D2E0;
}

@keyframes avatarBorder {
	from {
		border: 8px solid #56D2E0;
	}

	to {
		border: 10px solid #59D2E0;
	}
}

.section-1 .info {
	margin-top: 1%;
}

.section-1 p {
	margin-top: 10px;
}

.name {
	font-size: 60px;
	color: #FAFFF5;
	text-shadow: 1px 2px #2FB9FF, 2px 4px 2px #FFF;
}

.section-1 .mote {
	font-size: 18px;
	color: #B6C7C9;
}

.section-1 .posi {
	font-size: 30px;
	color: #FAFFF5;
	text-shadow: 2px 2px 2px #416DB9;
}

.section-1 .school {
	margin-top: 30px;
	font-size: 24px;
	color: #EFDCC1;
}

.section-1 .greed,
.section-1 .email {
	font-weight: 400;
	font-size: 22px;
	color: #317B88;
}

.section {
	background-color: #5AC1DD;
}

.section-container { 
	width: 100%;
	height: 100%;
	overflow: visible;
	ransition: transform 1s cubic-bezier(0.86,0,0.03,1);
	webkit-transition: -webkit-transform 1s cubic-bezier(0.86,0,0.03,1);
}

.section-container .section { 
	position: relative; 
	width: 100%; 
	height: 100%; 
	background-position: center center; 
	background-repeat: no-repeat;
}


.section-2 .name {
	margin-top: 10%;
}
/*
.section-container .section .title{width:100%;position:absolute;top:10%;color:#fff;font-size:2.4em;text-align:center;}

.section-container .section .title p{ padding:0 4%;opacity:0}

.section-container .section .title.active .tit{ opacity:1;transform:translateY(-25px);-webkit-transform:translateY(-25px);transition:all 2s cubic-bezier(0.86,0,0.8,1);-webkit-transition:all 2s cubic-bezier(0.86,0,0.8,1);}

.section-container .section-1{ background-color:#202020}

.section-wrap .section-2{ background-color:#5cb85c}

.section-wrap .section-3{ background-color:#5bc0de}

.section-wrap .section-4{ background-color:#f0ad4e}

.section-wrap .section-5{ background-color:#d9534f}*/


.put-section-0 { 
	transform:translateY(0);
	-webkit-transform:translateY(0);
	transition: 500ms all ease-in;
	}

.put-section-1 { 
	transform:translateY(-100%);
	-webkit-transform:translateY(-100%);
	transition: 500ms all ease-in;
	}

.put-section-2 { 
	transform:translateY(-200%);
	-webkit-transform:translateY(-200%);
}

.put-section-3 { 
	transform:translateY(-300%);
	-webkit-transform:translateY(-300%);
}

.put-section-4 { 
	transform:translateY(-400%);
	-webkit-transform:translateY(-400%);
}

.section-btn{
	width:80px;
	position:fixed;
	left:2%;
	top:40%;
}

.section-btn li{ 
	width:10px;
	height:10px;
	cursor:pointer;
	border-radius:50%;
	-webkit-border-radius:50%;
	margin:14px 0px; 
	text-align:center; 
	border: 1px solid #FFF;
	font-size: 10px;
	color: #FFF;
	line-height: 10px;
}

.section-btn li span {
	display: inline-block;
	width: 40px;
	padding-left: 14px;
	opacity: 0;
	color: #6FA2AB;
	transition: all 0.2s;
}

.section-btn li.on{ 
	background:#FFF
}

.section-btn li:hover span{
	opacity: 1;
	color: #37FBCD;
}